<?xml version="1.0" encoding="UTF-8"?>
<cfg:environmentConfig name="fandango_api_rsp" xmlns:cfg="http://ascert.com/vtas/config">
  <cfg:vtmpInstance>
    <cfg:id>vtmp.1</cfg:id>
    <cfg:profile>vtmp.1</cfg:profile>
    <cfg:vtmpHome>${vtmp.home}</cfg:vtmpHome>
    <cfg:vmonAddress>127.0.0.1</cfg:vmonAddress>
    <cfg:vmonPort>8082</cfg:vmonPort>
    <cfg:JVMOpts>-Xmx800m</cfg:JVMOpts>
  </cfg:vtmpInstance>
    <cfg:drivers>
    <cfg:driverInstance name="fandango_api_rsp1" logicalName="json_drv" id="com.ascert.driver.json" version="1.1.0" mode="basic">
      <cfg:catalog>
        <cfg:file logicalName="open_api_def" type="vt-import">
          <cfg:map resource="${dir.env}/${env.name}/data/resources/fandango_api.json"/>
        </cfg:file>
        <cfg:file logicalName="txn_types" type="vt-import">
          <cfg:map resource="${dir.env}/${env.name}/data/json.TxnTypes.csv"/>
        </cfg:file>
        <cfg:file logicalName="account_details" type="vtas-nds">
          <cfg:map resource="${dir.env}/${env.name}/data/account_details.csv"/>
        </cfg:file>
        <cfg:file logicalName="merchant_data" type="vtas-nds">
          <cfg:map resource="${dir.env}/${env.name}/data/terminal_data.csv"/>
        </cfg:file>
        <cfg:file logicalName="keystore" type="vt-import">
          <cfg:map resource="${scripts.local}/security/resources/keystore.jks"/>
        </cfg:file>
        <cfg:file logicalName="station_data" type="vtas-nds">
          <cfg:map resource="${dir.env}/${env.name}/data/station_data_rsp.csv"/>
        </cfg:file>
      </cfg:catalog>
      <cfg:rt_props>
        <cfg:property name="vt.env.param.drv.station.pattern" value="SESS"/>
        <cfg:property name="vt.env.param.drv.single.thread.txn" value="Y"/>
        <cfg:property name="vt.env.param.drv.ext.field.log.level" value="4"/>
        <cfg:property name="vt.comms.config.after_connect" value="dfs__ioh_mark_up"/>
        <cfg:property name="vt.comms.config.after_disconnect" value="dfs__ioh_mark_down"/>
        <cfg:property name="vt.comms.config.http.HTTP_SERVER.polarity" value="server"/>
        <cfg:property name="vt.comms.config.http.HTTP_SERVER.local_port" value="12221"/>
        <cfg:property name="vt.comms.config.http.HTTP_SERVER.managed" value="on"/>
        <cfg:property name="vt.comms.config.http.HTTP_SERVER.message_length" value="content_length"/>
        <cfg:property name="vt.comms.config.http.HTTP_SERVER.security.protocol" value="none"/>
        <cfg:property name="vt.comms.config.http.HTTP_SERVER.session.1" value="sess00000"/>
      </cfg:rt_props>
    </cfg:driverInstance>
    <cfg:driverControl>
      <cfg:start>
        <cfg:drvId>fandango_api_rsp1</cfg:drvId>
      </cfg:start>
      <cfg:stop/>
    </cfg:driverControl>
  </cfg:drivers>
  <cfg:rt_props>
    <cfg:property name="tas.cleanup_stacks" value="n"/>
  </cfg:rt_props>
  <cfg:catalog>
    <cfg:file logicalName="base_templates.1" type="vtas-base-template">
      <cfg:map resource="${scripts.base}/${json.version}/data/json.http.common.base_templates.csv"/>
    </cfg:file>
    <cfg:file logicalName="base_templates.2" type="vtas-base-template">
      <cfg:map resource="${dir.env}/${env.name}/data/fandango_api.http.header.base_templates.csv"/>
    </cfg:file>
    <cfg:file logicalName="base_templates.3" type="vtas-base-template">
      <cfg:map resource="${dir.env}/${env.name}/data/fandango_api.base_templates.csv"/>
    </cfg:file>
    <cfg:file logicalName="base_templates.4" type="vtas-base-template">
      <cfg:map resource="${dir.env}/${env.name}/data/fandango_api.emv.base_templates.csv"/>
    </cfg:file>
    <cfg:file logicalName="test_cases.1" type="vtas-test-case" init="true">
      <cfg:map resource="${scripts.base}/${json.version}/data/json.common.testcases.init.csv"/>
    </cfg:file>
    <cfg:file logicalName="test_cases.2" type="vtas-test-case" init="true">
      <cfg:map resource="${scripts.base}/${json.version}/data/start.station.testcases.init.csv"/>
    </cfg:file>
    <cfg:file logicalName="test_cases.3" type="vtas-test-case" init="true">
      <cfg:map resource="${dir.env}/${env.name}/data/responder.base.testcases.init.csv"/>
    </cfg:file>
    <cfg:file logicalName="test_cases.4" type="vtas-test-case" init="true">
      <cfg:map resource="${dir.env}/${env.name}/data/responder.auto.schedule.testcases.init.csv"/>
    </cfg:file>
    <cfg:file logicalName="test_cases.5" type="vtas-test-case">
      <cfg:map resource="${dir.env}/${env.name}/data/responder.testcases.csv"/>
    </cfg:file>
    <cfg:file logicalName="field_alias" type="vtas-alias">
      <cfg:map resource="${dir.env}/${env.name}/data/field_alias.csv"/>
    </cfg:file>
    <cfg:file logicalName="station_data" type="vtas-nds">
      <cfg:map resource="${dir.env}/${env.name}/data/station_data_rsp.csv"/>
    </cfg:file>
    <cfg:file logicalName="merchant_data" type="vtas-nds">
      <cfg:map resource="${dir.env}/${env.name}/data/merchant_data.csv"/>
    </cfg:file>
    <cfg:file logicalName="account_details" type="vtas-nds">
      <cfg:map resource="${dir.env}/${env.name}/data/account_details.csv"/>
    </cfg:file>
    <cfg:file logicalName="driver_txn_types" type="vtas-nds">
      <cfg:map resource="${dir.env}/${env.name}/data/json.TxnTypes.csv"/>
    </cfg:file>
    <cfg:file logicalName="json_msgs" type="vtas-nds">
      <cfg:map resource="${dir.env}/${env.name}/data/jsonexamples.properties"/>
    </cfg:file>
    <cfg:file logicalName="card_data" type="vtas-nds">
      <cfg:map resource="${dir.env}/${env.name}/data/card_data.csv"/>
    </cfg:file>
  </cfg:catalog>
  <cfg:colections/>
</cfg:environmentConfig>